# PostgreSQL bootstrap
POSTGRES_USER=costflow
POSTGRES_PASSWORD=change-me


# LocalStack
LOCALSTACK_AUTH_TOKEN=


# AWS credentials used only by local tooling / Serverless LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test